.header-dropdown-menu{
    z-index: 9999;
    position: absolute;
    left:-100%;
    text-align: center;
    width: max-content;
    transform: translate(50%);
    visibility: hidden;
    div{
        position:relative;
        z-index: 9999;
        &:nth-child(1){
            padding-top: 40px;
        }
        padding-bottom:10px;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.5s;
    }
}
  
.show > .header-dropdown-menu{
    visibility: visible;
}
.ani > .header-dropdown-menu{
    div{
        opacity: 1;
    }
}